@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ----------------------------------------------------------------------------------*/
/* Global Styles */

body{
    background-color: #F3FFFF;
}

/* Fonts */
/* 
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

h2{
    font-family: 'Roboto', sans-serif;
}

h1,h3{
    font-family: 'Pacifico', cursive;
    color: #F64396;
    position: center;
}

h4,h5,h6,p {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Spacing */
/* .full-height {
    height: 100vh;
} */

/* ---------------------------------------- */
/* Components */
.button1 {
    border: none;
    height: 40px;
    padding: 10px 15px;
    border-radius: 10px;
    background: #F3FFFF;
    color: #52CBCC;
}


/* -------------------------------------------------------------------------------------- */
/* Bootstrap Component Overrides */



/* Navigation */
.navbar{
    background-color: #52CBCC;
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.941);
}

.nav-link:hover {
    color: #F64396;
}

.nav-link.active {
    font-weight: 600;
    border-bottom: 2px solid #F64396;
    color: #F64396;
}




/* Footer */
footer{
    width: 1128px;
    margin-top: 100px;
    padding-top: 20px;
    background-color: #52CBCC;
    color: white;
}




/* ---------------------------------------------------------------------------------------------------------------- */
/* HOME PAGE*/

/* Landing Page- Hero Section */

.hero-image {
    height: 90vh;
    width: 100%; 
    
}

header{
    width: 100%;
    height: 90vh;
   
}

.about-title{
    font-family: 'Pacifico', cursive;
    color: #F64396;
    text-align: center;
    margin-top: 5%;
}

.about-us{
    font-family: 'Roboto Condensed', sans-serif;
    color: #015656;
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

.welcome{
    font-family: 'Roboto Condensed', sans-serif;
    color: #F64396;
    text-align: center;
    font-weight: 600;
}


/* Carousel */

.carousel{
    margin-top: 75px;
}

.img{
    height: 700px;
    width: 100%;
}

.orange{
    width: 100%;
    height: 700px;
    background-color: #F1A03C;
    padding-top: 200px;
}

.pink{
    width: 100%;
    height: 700px;
    background-color: #F64396;
    
}

.blue{
    width: 400px;
    height: 400px;
    background-color: #52CBCC;
    margin-left: 50%;
    padding-top: 100px;
}

.tagline1{
    color: #F64396;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}


/* ---------------------------------------- */
/* FAQ*/

.FAQ{
    margin: 0 auto;
}

.faqs{
    color: #52CBCC;
    font-style: italic;
}

.further{
    color: #52CBCC;
    font-style: italic;
}

/* Form */
.form{
    width:100%;
}

form{
    margin: 0 auto;
    border-radius: 15px;
    background-color: #52CBCC;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 40px;   
}

.input-el{
    width: 90%;
    height: 50px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    background-color: #F3FFFF;
    color: #52CBCC;
    margin-top: 15px;
}

.input-ell{
    width: 90%;
    height: 50px;
    padding-left: 15px;
    padding-top: 10px;
    border: none;
    border-radius: 20px;
    background-color: #F3FFFF;
    color: #52CBCC;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Accordion */
.accordion{
    margin-top: 50px;
    margin-bottom: 50px;
}

.accordion-item{
    border-color: #52CBCC;
    border-width: 2px;
    background-color: #F3FFFF;
    color: #015656;
}



/* Weather */

.weather{
    color: #F1A03C;
    font-style: italic;
    margin-top: 5%;
}

.block{
    width: 80%;
    height: 40vh;
    background-color: #F1A03C;
    border-radius: 50px;
    
}

/* ---------------------------------------- */
/* Extra */

/* ---------------------------------------------------------------------------------------------------------------- */
/* TRIPS PAGE*/


.block2{
    width: 100%;
    height: 30vh;
    background-color: #F1A03C;
    border-radius: 50px;
    margin-bottom: 15px;

}

.tagline2{
    color: #F64396;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.trips{
    color: #F1A03C;
    font-style: italic;
    margin-top: 5%;
    margin-left: 115px;
}

.trip{
    
}

.title{
    padding-top: 5%;
    color: #F3FFFF;
    font-size: smaller;
}

.info{
    padding-top: 5%;
    color: #F3FFFF;
}

.button3 {
    border: none;
    height: 40px;
    padding: 10px 15px;
    border-radius: 10px;
    background: #F3FFFF;
    color: #F1A03C;
    margin-bottom: 5px;
    
}

.button4 {
    border: none;
    height: 30px;
    /* padding: 10px 15px; */
    border-radius: 5px;
    background: #F3FFFF;
    color: #F1A03C;
    margin-bottom: 5px;;
}