@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ---------------------------------------- */
/* Global Styles */

body{
    background-color: #F3FFFF;
}

/* Fonts */
/* 
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

h2{
    font-family: 'Roboto', sans-serif;
}

h1,h3{
    font-family: 'Pacifico', cursive;
    color: #F64396;
    position: center;
}

h4,h5,h6,p {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Spacing */
.full-height {
    height: 100vh;
}

.tagline1{
    color: #F64396;
    text-align: center;
    margin-top: 5%;
}

/* ---------------------------------------- */
/* Components */
.button1 {
    border: none;
    height: 40px;
    padding: 10px 15px;
    border-radius: 10px;
    background: #F3FFFF;
    color: #52CBCC;
}


/* ---------------------------------------- */
/* Bootstrap Component Overrides */

/* Navigation */
.navbar{
    background-color: #52CBCC;
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.941);
}

.nav-link:hover {
    color: #F64396;
}

.nav-link.active {
    font-weight: 600;
    border-bottom: 2px solid #F64396;
    color: #F64396;
}

/* ---------------------------------------- */
/* Footer */
footer{
    margin-top: 5%;
    padding-top: 20px;
    background-color: #52CBCC;
    color: white;
}




/* Carousel */


/* ---------------------------------------- */
/* FAQ*/

.faqs{
    color: #52CBCC;
    font-style: italic;
    margin-top: 5%;
}

.further{
    color: #52CBCC;
    font-style: italic;
}

/* Form */
.form{
    width:100%;
}

form{
    margin: 0 auto;
    border-radius: 15px;
    background-color: #52CBCC;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 40px;   
}

.input-el{
    width: 90%;
    height: 50px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    background-color: #F3FFFF;
    color: #52CBCC;
    margin-top: 15px;
}

.input-ell{
    width: 90%;
    height: 50px;
    padding-left: 15px;
    padding-top: 10px;
    border: none;
    border-radius: 20px;
    background-color: #F3FFFF;
    color: #52CBCC;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Accordion */
.accordion{
    margin-top: 50px;
    margin-bottom: 50px;
}

.accordion-item{
    border-color: #52CBCC;
    border-width: 2px;
    background-color: #F3FFFF;
    color: #015656;
}


/* ---------------------------------------------------------------- */
/* Home Page */

.hero-image {
    height: 90vh;
    width: 100%; 
    
}

header{
    width: 100%;
    height: 90vh;
   
}

/* .overlay{
    width: 100%;
    height: 90vh;
    background-color: #032c2c5e;
} */

/* About Us */

.about-title{
    font-family: 'Pacifico', cursive;
    color: #F64396;
    text-align: center;
    margin-top: 5%;
}

.about-us{
    font-family: 'Roboto Condensed', sans-serif;
    color: #015656;
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

.welcome{
    font-family: 'Roboto Condensed', sans-serif;
    color: #F64396;
    text-align: center;
    font-weight: 600;
}

/* Weather */

.weather{
    color: #F1A03C;
    font-style: italic;
    margin-top: 5%;
}

.block{
    width: 80%;
    height: 40vh;
    background-color: #F1A03C;
    border-radius: 50px;
    
}

/* ---------------------------------------- */
/* Extra */

