@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ---------------------------------------- */
/* Global Styles */

/* Fonts */
/* font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

h1,h2{
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'Pacifico', cursive;
}

h4,h5,h6,p {
    font-family: 'Roboto Condensed', sans-serif;
    /* font-size: 16px; */
}

/* Spacing */
.full-height {
    height: 100vh;
}

/* ---------------------------------------- */
/* Components */


/* ---------------------------------------- */
/* Bootstrap Component Overrides */

/* Navigation */
.navbar{
    background-color: #52CBCC;
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.941);
}

.nav-link:hover {
    color: #F64396;
}

.nav-link.active {
    border-bottom: 2px solid #F64396;
    color: #F64396;
}